@font-face {
    font-family: 'Londrina Solid';
    src: url('/fonts/londrinasolid-regular-webfont.woff2') format('woff2'),
         url('/fonts/londrinasolid-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
