---
import Col from "../components/Col.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<Col start={3} span={2}>
		<h1>nyabla.net</h1>
	</Col>
	<Col start={4} span={2}>
		<p>Hewwo, I'm nela :3
<br>
			I am currently studying robotics at university but I have a lot of other interests, ranging from music and mycology to maths and myths
			<br>
			You can contact me at nela \[at\] this domain
			<br>
			Explore this website using the [sitemap](/sitemap)</p>
		</Col>
</BaseLayout>

<style>
	h1 {
		font-size: 6rem;
		margin: 0;
	}
</style>
