<nav>
    <a aria-label="home" href="/">nyabla.net</a>
</nav>

<style>
    nav > a {
        font-family: 'Londrina Solid', sans-serif;
        color: var(--bloo);
        text-decoration: none;
        font-size: 36px;
    }

    nav {
        writing-mode: vertical-lr;
    }
</style>