---
export interface Props {
    status: string;
}

const { status } = Astro.props
---
<span><img src={ `/status-icons/${status}.svg` } /> { status }</span>

<style>
    span {
        font-size: 14px;
    }

    img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
</style>